<app-navbar></app-navbar>
<div class="container-fluid p-0">
  <!-- About-->
  <section class="resume-section" id="about">
    <app-personal-info></app-personal-info>
  </section>
  <hr class="m-0" />
  <!-- Experience-->
  <section class="resume-section" id="experience">
    <app-experience-list class="col-12"></app-experience-list>
  </section>
  <hr class="m-0" />
  <!-- Education-->
  <section class="resume-section" id="education">
    <app-education-list class="col-12"></app-education-list>
  </section>
  <hr class="m-0" />
  <!-- Skills-->
  <section class="resume-section" id="skills">
    <div class="resume-section-content">
      <h2 class="mb-5">Skills</h2>
      <div class="subheading mb-3">Programming Languages & Tools</div>
      <ul class="list-inline dev-icons">
        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
        <li class="list-inline-item"><i class="fab fa-angular"></i></li>
        <li class="list-inline-item"><i class="fab fa-react"></i></li>
        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
        <li class="list-inline-item"><i class="fab fa-sass"></i></li>
        <li class="list-inline-item"><i class="fab fa-less"></i></li>
        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
        <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
        <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
      </ul>
      <div class="subheading mb-3">Workflow</div>
      <ul class="fa-ul mb-0">
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Mobile-First, Responsive Design
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Cross Browser Testing & Debugging
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Cross Functional Teams
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Agile Development & Scrum
        </li>
      </ul>
    </div>
  </section>
  <hr class="m-0" />
  <!-- Interests-->
  <section class="resume-section" id="project">
    <app-projects-list class="col-12"></app-projects-list>
  </section>
  <hr class="m-0" />
  <!-- Awards-->
  <section class="resume-section" id="awards">
    <div class="resume-section-content">
      <h2 class="mb-5">Awards & Certifications</h2>
      <ul class=" mb-0">
        <li>
          Google Analytics Certified Developer
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
          Mobile Web Specialist - Google Certification
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
          1
          <sup>st</sup>
          Place - University of Colorado Boulder - Emerging Tech Competition 2009
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
          1
          <sup>st</sup>
          Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
          2
          <sup>nd</sup>
          Place - University of Colorado Boulder - Emerging Tech Competition 2008
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
          1
          <sup>st</sup>
          Place - James Buchanan High School - Hackathon 2006
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
          3
          <sup>rd</sup>
          Place - James Buchanan High School - Hackathon 2005
        </li>
      </ul>
    </div>
  </section>
</div>
