<div class="resume-section-content">
  <h5>HELLO EVERYBODY, I AM</h5>
  <h1 class="mb-0">
    {{person.getFName()}}
    <span class="text-primary">{{person.getLName()}}</span>
  </h1>
  <h5>JUNIOR SOFTWARE ENGINEER</h5>
  <div class="subheading mb-5">
    {{person.getAddress()}} · {{person.getPhone()}} ·
    <a href="mailto:{{person.getEmail()}}">{{person.getEmail()}}</a>
  </div>
  <p class="lead mb-5">{{person.getAbout()}}</p>
  <div class="social-icons">
    <a class="social-icon" (click)="goLinkedin()" style="cursor: pointer;"><i class="fab fa-linkedin-in"></i></a>
    <a class="social-icon" (click)="goGitHub()" style="cursor: pointer;"><i class="fab fa-github"></i></a>
    <a class="social-icon" (click)="goInstagram()" style="cursor: pointer;"><i class="fab fa-instagram"></i></a>
    <a class="social-icon" (click)="goFacebook()" style="cursor: pointer;"><i class="fab fa-facebook-f"></i></a>
  </div>
</div>
